table.responsive-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }

  table.responsive-table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }

  table.responsive-table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  table.responsive-table th,
  table.responsive-table td {
    padding: .625em;
    text-align: center;
  }

  table.responsive-table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  @media screen and (max-width: 1280px) {
    table.responsive-table {
      border: 0;
    }

    table.responsive-table caption {
      font-size: 1.3em;
    }

    table.responsive-table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    table.responsive-table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    table.responsive-table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: left;

    }
    #employees table.responsive-table td{
        display: flex !important;
        justify-content: space-between;
        width: 100%;
    }
    table.responsive-table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: right;
      font-weight: bold;
      text-transform: uppercase;
    }

    table.responsive-table td:last-child {
      border-bottom: 0;
    }
  }




#employees tbody td.question-item{
    position: relative;
    height: 100px;
}
#employees tbody td.question-item .description-wrap{
    position: absolute;
    width: 100%;
    right: 0;
    text-align:right;
}
